# Nombre del workflow de despliegue final
name: Desplegar Frontend en Azure VM

# Se activa cada vez que se realiza un push a la rama 'main'
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
